@import url('https://fonts.googleapis.com/css?family=VT323');

.PageBG {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: #232323;
  text-align: center;
  z-index: -5
}

.TitleText {
  position: absolute;
  font-size: 32px;
  font-family: 'VT323', monospace;
  color: #FFFFFF;
  top: 0px;
  left: 50%;
  transform: translate(-50%, 0%);
  z-index: 45;
  text-shadow:
   -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
}

.MessageText {
  position: absolute;
  font-size: 32px;
  font-family: Helvetica, Verdana, sans-serif;
  color: #000000;
  top: 0%;
  left: 100%;
  transform: translate(-100%, -100%);
  z-index: 45;
}

.VidDiv {
  z-index: 0;
  text-align: center;
  position: fixed;
  padding-bottom: 56.25%
}

.VidStyle {
  position:fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top:0
}

.ButtonDiv {
  z-index: 5;
  text-align: center
}

.NavButton {
  position: relative;
  background-color: #444444;
  text-align: center;
  border: none;
  color: #FFFFFF;
  font-size: 28px;
  font-family: Helvetica, Verdana, sans-serif;
  margin-left: 0px;
  margin-right: 20px;
  margin-top:60px;
}

.NavButton:hover {
  background-color: #333333;
  cursor: pointer;
}

.NavButton:focus {
  outline: 0;
}

.CheckListDiv {
height:60px;
vertical-align: middle;
}

.CheckListIncorrectDiv {
height:60px;
vertical-align: middle;
color: #FA0505;
font-style: italic;
}


.ListSubmitDiv {
height:150px;
text-align: center;
vertical-align: bottom;
}

.CheckListLabel {
  line-height:50px;
}



.CheckSubmitButton {
  position: relative;
  background-color: #BBBBBB;
  text-align: center;
  margin:auto;
  padding:20px;
  border: none;
  color: #222222;
  font-size: 38px;
  font-family: Helvetica, Verdana, sans-serif;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 20px;
}

.CheckSubmitButton:hover {
  background-color: #CCCCCC;
  cursor: pointer;
}

.CheckSubmitButton:focus {
  outline: 0;
}

.VidJumpDiv {
  position: absolute;
  font-size: 30px;
  font-family: Helvetica, Verdana, sans-serif;
  color: #000000;
  z-index: 6;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}

.VidJumpCover {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: #D3D3D3;
  text-align: center;
  z-index: 5
}

.VidJumpInput {
    font-family: Helvetica, Verdana, sans-serif;
    font-size: 30px;
    margin-left: 8px;
    margin-right: 3px;
    border: 0;
}

.VidJumpButton {
  position: relative;
  background-color: #444444;
  text-align: center;
  border: none;
  color: #FFFFFF;
  font-size: 30px;
  font-family: Helvetica, Verdana, sans-serif;
  margin-left: 20px;
  margin-right: 0px;
}

.VidJumpButton:hover {
  background-color: #333333;
  cursor: pointer;
}

.VidJumpButton:focus {
  outline: 0;
}

.SyncButton {
  position: absolute;
  width: 33vw;
  height: 33vh;
  top: 33%;
  left: 33%;
  background-color: #44CC44;
  margin: auto;
  text-align: center;
  border: none;
  color: #FFFFFF;
  font-size: 30px;
  font-family: Helvetica, Verdana, sans-serif;
  z-index: 20;
}

.SyncButton2 {
  position: absolute;
  width: 33vw;
  height: 33vh;
  top: 33%;
  left: 33%;
  background-color: #4444CC;
  margin: auto;
  text-align: center;
  border: none;
  color: #FFFFFF;
  font-size: 30px;
  font-family: Helvetica, Verdana, sans-serif;
  z-index: 20;
}

.SyncButton:hover {
  background-color: #44AA44;
  cursor: pointer;
}

.SyncButton:focus {
  outline: 0;
}

.SyncButton2:hover {
  background-color: #4444AA;
  cursor: pointer;
}

.SyncButton2:focus {
  outline: 0;
}

.Cover {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: #D3D3D3;
  z-index: 10;
}

.CoverButton {
  position: absolute;
  width: 33vw;
  top: 76%;
  left: 33%;
  background-color: #444444;
  margin: auto;
  padding: 15px;
  text-align: center;
  border: none;
  color: #FFFFFF;
  font-size: 30px;
  font-family: Helvetica, Verdana, sans-serif;
  z-index: 20;
}

.CoverButton:hover {
  background-color: #333333;
  cursor: pointer
}

.CoverButton:focus {
  outline: 0;
}

.VidBox {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)}

.JoystickBg {
  position: fixed;
  top: 0px;
  right: 10%;
  height: 100vh;
  width: 8vw;
  position: absolute;
  background-color: #D3D3D3;
  z-index: 2}

.Background {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: #EDEDED;
  z-index: -2}

.PlayButton {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: #FFFFFF;
  font-size: 200px;
  font-family: Helvetica, Verdana, sans-serif;
  background-color: transparent;
  border: none;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
  zIndex: 2}

.PlayButton:hover {
  opacity: 0.5;
  cursor: pointer
}

.PlayButton:focus {
  outline: 0;
}

.CentreBottomPosition {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0)}
